<!DOCTYPE html>
<html ng-app="appModule">
    <head>
        <meta charset="UTF-8">
        <title>Reviewer</title>
        {% block header_javascripts %}

            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery.terminal/js/jquery.terminal-0.9.3.min.js') }}"></script>

            <script src="{{ asset('bundles/app/js/app.js') }}"></script>

            <script src="{{ asset('bundles/app/directives/loading-mask.directive.js') }}"></script>
            <script src="{{ asset('bundles/app/directives/resize.directive.js') }}"></script>

            <script src="{{ asset('bundles/app/services/console.service.js') }}"></script>

            <script src="{{ asset('bundles/app/controllers/product.ctrl.js') }}"></script>
            <script src="{{ asset('bundles/app/controllers/product-search.ctrl.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% endblock %}

        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/jquery.terminal/css/jquery.terminal-0.9.2.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">

    </head>
    <body>

    {% block body %}
    {% endblock %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Komendy w konsoli:</h4>
                </div>
                <div class="modal-body">
                    <div class="well">
                        <p>
                        Wpisz: "product.ZMIENNA = WARTOSC" aby zmienić dane produktu
                        </p><p>
                        np. product.word = moja nazwa - zaktualizuje product.word = "Moja nazwa"</p>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer"
         ng-style="style()"
        resize >
        <div class="row" style="background-color: white;">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <button class="btn btn-info" data-toggle="modal" data-target="#myModal">Pomoc</button>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2015 Andrzej Piszczek</p>
                </div>
            </div>
        </div>
    </div>

    {% block footer_javascripts %}

    {% endblock %}

    </body>
</html>