{% extends 'base.html.twig' %}
{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
    <h2>Lista produktów</h2>		
</nav>	

	<ul class="list-inline">
		<li><a href="{{ path('app_default_index') }}" class="btn btn-primary top-btn">Wróć do strony głównej</a></li>
		<li><a href="{{ path('database_delete', {pass: 'ddd'}) }}" class="btn btn-danger top-btn">Wyczyść baze danych</a>
        </li>
		
	</ul>
	<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Score</th>
                <th>Shops</th>
                <th>Votes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('database_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td><img src="{{ product.image }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.score }}</td>
                <td>{{ product.shops }}</td>
                <td>{{ product.votes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('database_show', { 'id': product.id }) }}" class="btn btn-info action-btn">show</a>
                        </li>
                        <li>
                            <a href="{{ path('database_edit', { 'id': product.id }) }}" class="btn btn-danger action-btn">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>

{% endblock %}
