{% extends 'base.html.twig' %}

{% block body %}
<nav class="navbar navbar-default navbar-fixed-top">
    <h2>Product</h2>
</nav>	
<div class="container">
    <table class="table table-striped table-bordered show-tab">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ product.score }}</td>
            </tr>
            <tr>
                <th>Shops</th>
                <td>{{ product.shops }}</td>
            </tr>
            <tr>
                <th>Votes</th>
                <td>{{ product.votes }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Keys</th>
                <td>{{ product.keys }}</td>
            </tr>
            <tr>
                <th>Vars</th>
                <td>{{ product.vars }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{% if product.images %}{{ product.images|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-inline">
        <li>
            <a href="{{ path('database_index') }}" class="btn btn-primary action-btn">Lista</a>
        </li>
        <li>
            <a href="{{ path('database_edit', { 'id': product.id }) }}"class="btn btn-info action-btn">Edycja</a>
        </li>
        <li>
            <a href="{{ path('database_delete', { 'id': product.id }) }}" class="btn btn-danger action-btn">Usuń</a>
        </li>
    </ul>
    </div>
{% endblock %}
