{% extends 'AppBundle::layout.html.twig' %}

{% macro curly(contents) %}{% spaceless %}
    {{ '{{' ~ contents ~ '}}' }}{% endspaceless %}
{% endmacro %}
{% import _self as ng %}

{% block body %}
    <div loading-mask class="loading"></div>

    <div
            id="search"
            ng-controller="ProductSearchController"
            class="animated {{ ng.curly('animation') }} pulse"
            ng-click="animation=false">
            <tour step="tourStep" post-step="stepComplete()">
                <input type="search"
                       tourtip="Wpisz nazwę produktu, a następnie wybierz pozycję z listy"
                       tourtip-offset-horizontal="{{ ng.curly('iframeWidth/2') }}"
                       ng-model="searchProduct"
                       placeholder="Podaj nazwę produktu"
                       uib-typeahead="searchProduct as searchProduct.name for searchProduct in getLocation($viewValue)"
                       typeahead-min-length="1"
                       typeahead-no-results="noResults"
                       typeahead-template-url="{{ asset('bundles/app/templates/product-result.tpl.html') }}"
                       typeahead-popup-template-url="{{ asset('bundles/app/templates/product-popup.tpl.html') }}"
                       typeahead-on-select="onSelect($item, $model)"
                       ng-model-options="{debounce: 500}"
                       id="search-input"
                       {#ng-style="{'background': 'url('+(searchProduct.image)+') no-repeat scroll 100px 100%'}"#}>

            </tour>
        <ul ng-show="noResults" class="dropdown-menu custom-popup" role="listbox"
            uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true"
            ng-style="{top: position().top+'px', width: 0.7*position().width+'px', 'height': 8*position().height + 'px'}"
            style="display: block; width: 70%;">
            <li class="text-center text-danger">
                <a>
                    <span class="text-danger glyphicon glyphicon-remove" style="margin: 15px"></span>
                    <span class="ng-binding"><strong>Brak wyników</strong></span>
                </a>
            </li>
        </ul>
    </div>



<div class="container">


<div class="col-md-1"></div>
<div class="col-md-10 center-block">
    <div id="console" class="center-block">
</div>
</div>
    <div
         class='container'
         ng-controller="ProductController">

        <div class="col-md-12">
            <div ng-show="loaderMax>1&&loaderValue>0">
                <uib-progressbar max="loaderMax"
                                 value="loaderValue">
                    <span style="color:white; white-space:nowrap;">ładowanie komentarzy {{ ng.curly('loaderValue/loaderMax*100| number:0') }}%</span></uib-progressbar>
            </div>
        </div>

        <div class="button-list">
            <tour step="currentStep" post-step="stepComplete()">
                <div class="btn-group-justified">
                    <a tourtip-step="0" tourtip="Kliknij w ten przycisk, aby pobrać dane o wybranym produkcie z serwisu ceneo" href="#" class="btn btn-primary" ng-click="getProductInfo()">Pobierz informacje</a>
                    <a tourtip="Klknij, aby pobrać listę podobnych produktów z serwisu skapiec.pl" href="#" ng-disabled="!product.id" class="btn btn-primary btn-success" ng-click="getSimilar()">Szukaj podobnych</a>
                    <a tourtip="Klknij, jeśli chcesz zapisać dane do pliku w wybranym formacie" href="#"  class="btn btn-primary btn-success" ng-click="saveToPc(product, product.id+'.'+saveFormat)">Zapisz dane</a>
                    <a tourtip="Kliknij, aby przeglądać i edytować bazę danych" href="{{ path('database_index') }}"  class="btn btn-primary">Wyświetl zapisane</a>
                </div>
            </tour>
            <button type="button" class="btn btn-default btn-xs pull-right" ng-click="slideToggle(); isCollapsed = !isCollapsed; " style="width:10%">
                <span class="glyphicon glyphicon-arrow-{{ ng.curly('isCollapsed?"down":"up"') }}"></span>{{ ng.curly('isCollapsed?"Pokaż":"Zwiń"') }} dane
            </button>
            <button type="button" ng-click="saveFormat=(saveFormat=='JSON')?'XML':'JSON'" class="btn btn-default btn-xs pull-right" style="width:10%">
                Zapis w - {{ ng.curly('saveFormat') }}
            </button>
            <button type="button" ng-click="saveToDatabase()" ng-disabled="!product.id" class="btn btn-default btn-xs pull-right" style="width:10%">
                Zapis do bazy
            </button>
        </div>
        <div class="clearfix"></div>


        <div class="row" id="json-data">
            <div class="col-md-12">
            <pre><json-tree json='product' edit-level='low' collapsed-level='5' class="json-data"></json-tree></pre>
                {#<pre class="json-data" >{{ ng.curly('product | json') }}</pre>#}
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="similar" ng-show="similars.length>0">
        <div class="row">
        <div class="col-md-12">
        <h3>Produkty podobne:</h3>
        </div>
        </div>
        <div class="row">
          <div ng-repeat="similar in similars">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
          <div  class="col-sm-6 col-md-4" >

            <div class="thumbnail">
              <img ng-src="{{ ng.curly('similar.img') }}">
              <div class="caption text-center">
                <h3>{{ ng.curly('similar.name') }}</h3>
                <p>
                <a href="#" class="btn btn-primary" id={{ ng.curly('similar.url') }} role="button" ng-click="getSimilarReviews(similar)">Ładuj komentarze</a>
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>




    </div>
{% endblock %}