{% extends 'AppBundle::layout.html.twig' %}

{% macro curly(contents) %}
    {{ '{{' ~ contents ~ '}}' }}
{% endmacro %}
{% import _self as ng %}

{% block body %}
<style>
    body {
        margin-top: 10%
    }

    #search {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 9%;
        min-height: 50px;
        margin-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.7);

        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

    }

    #search.open {
        height: 100%;
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
    }

    #search input[type="search"] {
        width: 100%;
        color: rgb(255, 255, 255);
        background: rgba(0, 0, 0, 0);
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
        font-size: 50px;
        position: relative;

        margin-top: 10px;

        -webkit-transition: tall 2s ease-in-out;
        -moz-transition: all 2s ease-in-out;
        -o-transition: tall 2s ease-in-out;
        -ms-transition: all 2s ease-in-out;
        transition: all 2s ease-in-out 0s;
    }
    #search.open input[type="search"]{
        position: absolute;
        top: 20%;
    }
    .custom-popup {
        left: 50%!important;
        right: auto;
        transform: translate(-50%, 0);
    }
</style>


    <div id="search" ng-class="{'open':!product.word}" ng-controller="ProductSearchController">

            <input type="search"
                   ng-model="searchProduct"
                   placeholder="Podaj nazwę produktu"
                   uib-typeahead="searchProduct as searchProduct.word for searchProduct in getLocation($viewValue)"
                   typeahead-loading="loadingLocations"
                   typeahead-no-results="noResults"
                   typeahead-template-url="{{ asset('bundles/app/templates/product-result.tpl.html') }}"
                   typeahead-popup-template-url="{{ asset('bundles/app/templates/product-popup.tpl.html') }}"
                   typeahead-on-select="onSelect($item, $model)"
                   {#ng-style="{'background': 'url('+(searchProduct.image)+') no-repeat scroll 100px 100%'}"#}>

    </div>

    <div ng-show="product.id"
         class='container' ng-controller="ProductController">

        <h4>Product info</h4>
        <pre>{{ ng.curly('product | json') }}</pre>

        <button type="button" class="btn btn-primary"
                ng-click="getProductReviews(product.id)">
            Ładuj komentarze
        </button>
    </div>
{% endblock %}